<HTML>
	<head>
		<script src="/js/rainbow-custom.min.js"></script>
		<link href="/css/espresso-libre.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			body {
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
		</style>
		<title>\Breedlove\Micah;</title>
	</head>
		
   	<body>
        {{ content }}
        <div id="footer">
          <div class="push"></div>
          <div class="center">&copy; 2013 Micah Breedlove</div>
          <div id="footer_options" class="center"> <a href="http://micah.breedlove.in/">Resume</a> | <a href="http://about.me/druid628" target="_blank">About.Me</a> | <a href="https://github.com/druid628" target="_blank">Github</a> | <a href="http://micah.breedlove.in/php/">PHP Resume</A></div>
        </div>

   	</body>
  </html>
